<div>
    <div class="submit-form">
        <h1>Alta cliente</h1>
        <div class="form-group">
          <label for="nombre">Nombre: </label>
          <input type="text" class="form-group" id="nombre" required  name="nombre">
        </div>
        <div class="form-group">
          <label for="cif">CIF: </label>
          <input type="text" class="form-group" id="cif" required  name="cif">
        </div>
        <div class="form-group">
          <label for="direccion">Dirección: </label>
          <input type="text" class="form-group" id="direccion" required name="direccion">
        </div>
        <div class="form-group">
          <label for="grupo">Grupo: </label>
          <select name="grupo" id="grupo">
            <option value="sin-definir">Sin definir</option>
          </select>
        </div>
        <button class="btn btn-success">Guardar</button>
    </div>
  </div>
